<template>
  <div>
    <!-- Design Modal ################################################# -->
    <modal :show.sync="modals.d1" headerClasses="justify-content-center">
        <h4 slot="header" class="title title-up">Realize Bolsas Dashboard</h4>
        <p>This UX dashboard was created for <a href="http://www.realizebolsas.com.br" target="_blank">Realize Bolsas</a> with the purpouse of connecting Schools and Universities that provide scholarships for students to the Sales team. The idea is to follow the sales process of RealizeBolsas and send metrics to the scholarship providers monthly</p>
        <template slot="footer">
          <n-button type="info" v-on:click="gotosite('https://xd.adobe.com/view/7939fa9b-fe5b-4fb0-67ce-8030607a19e6-0f08/screen/0bf626d6-156b-4820-ac3a-845867af9e06/Web-1920-12?fullscreen')">Open AdobeXD</n-button>
          <n-button type="primary" @click.native="modals.d1 = false">Close</n-button>
        </template>
    </modal>
    <modal :show.sync="modals.d2" headerClasses="justify-content-center">
        <h4 slot="header" class="title title-up">HYDRA SHOWERS TOTEM</h4>
        <p>This UX Totem was created for <a href="https://hydra-corona.com.br/" target="_blank">Hydra</a> with the purpouse of helping final customers to find a perfect shower to their homes. The criteria was to express technical details (water pressure, temperature, water spreading...) into comprehensive user language</p>
        <template slot="footer">
          <n-button type="info" v-on:click="gotosite('https://xd.adobe.com/view/d23eb57e-be4a-4b46-673a-9e64fe378416-a40f/')">Open AdobeXD</n-button>
          <n-button type="primary" @click.native="modals.d2 = false">Close</n-button>
        </template>
    </modal>
    <modal :show.sync="modals.d3" headerClasses="justify-content-center">
        <h4 slot="header" class="title title-up">REALIZE BOLSAS REGISTER PAGE</h4>
        <p>This UX Website was created for <a href="http://www.realizebolsas.com.br" target="_blank">Realize Bolsas</a> with the purpouse of connecting students with the scholarships sales team of Realize Bolsas </p>
        <template slot="footer">
          <n-button type="info" v-on:click="gotosite('https://xd.adobe.com/view/7939fa9b-fe5b-4fb0-67ce-8030607a19e6-0f08/?fullscreen')">Open AdobeXD</n-button>
          <n-button type="primary" @click.native="modals.d3 = false">Close</n-button>
        </template>
    </modal>
    <modal :show.sync="modals.d4" headerClasses="justify-content-center">
        <h4 slot="header" class="title title-up">SMARTLINK WATER METER</h4>
        <p>This UX Study was designed to <a href="https://www.deca.com.br/" target="_blank">Deca</a> with the purpouse of creating a mobile app to an IOT solution for smart water metering. You can see the complete working solution at <a href="https://www.youtube.com/watch?v=eTivLu1ApQs&list=UUeUnz7izrjDqMy0LxNSbVlw&index=2" target="_blank">this youtube link</a></p>
        <template slot="footer">
          <n-button type="info" v-on:click="gotosite('https://xd.adobe.com/view/24a1145b-68b5-4ff2-6637-39f2b8851cff-5290/?fullscreen')">Open AdobeXD</n-button>
          <n-button type="primary" @click.native="modals.d4 = false">Close</n-button>
        </template>
    </modal>



    <!-- Code and Prod ################################################# -->
    <modal :show.sync="modals.p1" headerClasses="justify-content-center">
        <h4 slot="header" class="title title-up">Realize Bolsas Dashboard</h4>
        <p>This is a simple Website for <a href="http://www.realizebolsas.com.br" target="_blank">Realize Bolsas</a> with the purpouse of connecting Schools and Universities that provide scholarships for students to the Sales team. Frontend is VUE.JS and backend is Amplify AWS on DynamoDB + GraphQL</p>
        <template slot="footer">
          <n-button type="info" v-on:click="gotosite('http://app.realizebolsas.com.br')">Open App</n-button>
          <n-button type="primary" @click.native="modals.p1 = false">Close</n-button>
        </template>
    </modal>
    <modal :show.sync="modals.p2" headerClasses="justify-content-center">
        <h4 slot="header" class="title title-up">Realize Bolsas Edutech</h4>
        <p>This is a simple Website for <a href="http://www.realizebolsas.com.br" target="_blank">Realize Bolsas</a> with the purpouse of connecting Schools and Universities that provide scholarships for students to the Sales team. This project was made in Wordpress.</p>
        <template slot="footer">
          <n-button type="info" v-on:click="gotosite('http://www.realizebolsas.com.br')">Open Site</n-button>
          <n-button type="primary" @click.native="modals.p2 = false">Close</n-button>
        </template>
    </modal>
    <modal :show.sync="modals.p3" headerClasses="justify-content-center">
        <h4 slot="header" class="title title-up">IoT Smartlink</h4>
        <p>This is a very cool <b> IoT </b> project to reduce water consumption and detect leaks. <a href="https://www.youtube.com/watch?v=eTivLu1ApQs&list=UUeUnz7izrjDqMy0LxNSbVlw&index=3" target="_blank">Watch the Video!</a> In this project I was in charge of product vision and team development (1 DEV + 1 QA + 1 UX). Hardware was inhouse developed by Deca. FrontEnd was made in React and Backend in Node JS. This IoT solution was entirely made in AWS Framework (AWS Iot + DynamoDB)</p>
        <template slot="footer">
          <n-button type="info" v-on:click="gotosite('http://smartlink.deca.com.br')">Open Site</n-button>
          <n-button type="primary" @click.native="modals.p2 = false">Close</n-button>
        </template>
    </modal>
    <modal :show.sync="modals.p4" headerClasses="justify-content-center">
        <h4 slot="header" class="title title-up">Imagine - Inovation Platform</h4>
        <p>This is a corporative <b> Innovation Platform </b> that creates a solution to employees input their ideas of any kind of enhancement that can be put in practice to Duratex. In this project I was in charge of product vision and team development (2 DEVs + 1 UX). FrontEnd was made in Angular and Backend in Node JS. This solution was entirely made in Microsoft Azure Framework</p>
        <template slot="footer">
          <n-button type="info" v-on:click="gotosite('https://imagine.duratex.com.br')">Open Site</n-button>
          <n-button type="primary" @click.native="modals.p2 = false">Close</n-button>
        </template>
    </modal>
    <modal :show.sync="modals.p5" headerClasses="justify-content-center">
        <h4 slot="header" class="title title-up">My Portfolio!</h4>
        <p>My portfolio! Using Vue.Js + Amplify + AWS and this <a href="https://www.creative-tim.com/product/vue-now-ui-kit" target="_blank">incredible CreativeTim template</a>   </p>
        <template slot="footer">
          <n-button type="info" v-on:click="gotosite('https://imagine.duratex.com.br')">Open Site</n-button>
          <n-button type="primary" @click.native="modals.p2 = false">Close</n-button>
        </template>
    </modal>

    <div class="page-header clear-filter" filter-color="yellow">
        <parallax class="page-header-image"
                  style="background-image:url('img/cosmos.jpg')">
        </parallax>
        <div class="container">
            <div class="photo-container">
                <img src="img/claudio.jpg" alt="">
            </div>
            <!--<h3 class="title" v-text="$ml.with('VueJS').get('title')"></h3>-->
            <h3 class="title">Claudio Akio Namikata</h3>
            <p class="category">Design & Tech Solutions </p>

            <div class="content" v-scroll-to="'#tabss'">
                <div class="social-description">
                    <h2>4</h2>
                    <p>User Experience and Design</p>
                </div>
                <div class="social-description">
                    <h2>5</h2>
                    <p>Code and Product Mgmt</p>
                </div>
                <div class="social-description">
                    <h2>4</h2>
                    <p>Previous Clients and Employers</p>
                </div>
            </div>

        </div>
    </div>
    <div class="section">
        <div class="container">
            <div class="button-container">
                <a href="https://twitter.com/akio_claudio" target="_blank" class="btn btn-primary btn-round btn-lg">Follow</a>
                <a href="https://www.linkedin.com/in/cnamikata" target="_blank" class="btn btn-default btn-round btn-lg btn-icon dark_gray" rel="tooltip"
                   title="Follow me on Linkedin">
                    <i class="fab fa-linkedin"></i>
                </a>
                <a href="https://www.facebook.com/claudioakio.namikata" target="_blank" class="btn btn-default btn-round btn-lg btn-icon dark_gray" rel="tooltip"
                   title="Follow me on Facebook">
                    <i class="fab fa-facebook"></i>
                </a>
            </div>
            <h3 class="title" v-text="$ml.with('VueJS').get('_about')"></h3>
            <h5 class="description" v-text="$ml.with('VueJS').get('about')"></h5>

            <div class="row border_top_orange border_bottom_orange background_gray" id="tabss">
                <div class="col-md-6 ml-auto mr-auto">
                    <h4 class="title text-center">My Projects</h4>
                    <p class="text-primary text-center"><b>{{this.name_desc}}</b></p>
                </div>

                <tabs pills
                      class="nav-align-center"
                      tab-content-classes="gallery text-center"
                      tab-nav-classes="nav-pills-just-icons"
                      type="primary">

                    <tab-pane title="Design">
                        <i slot="label" class="now-ui-icons design-2_ruler-pencil" v-on:click="goto('USER EXPERIENCE AND DESIGN')"></i>
                        <div class="col-md-10 ml-auto mr-auto">
                            <div class="row collections">
                                <div class="col-md-6">
                                    <img src="img/r1.jpg" class="img-raised" @click="activate_modal('d1')">
                                    <img src="img/h1.jpg" alt="" class="img-raised" @click="activate_modal('d2')">
                                </div>
                                <div class="col-md-6">
                                    <img src="img/r2.jpg" alt="" class="img-raised" @click="activate_modal('d3')">
                                    <img src="img/d1.jpg" height="500px" alt="" class="img-raised" @click="activate_modal('d4')">
                                </div>
                            </div>
                        </div>
                    </tab-pane>

                    <tab-pane title="Code">
                        <i slot="label" class="now-ui-icons tech_laptop" v-on:click="goto('CODE AND PRODUCT MANAGEMENT')"></i>
                        <div class="col-md-10 ml-auto mr-auto">
                            <div class="row collections">
                                <div class="col-md-6">
                                    <img src="img/re2.jpg" alt="" class="img-raised" @click="activate_modal('p1')">
                                    <img src="img/re1.jpg" alt="" class="img-raised" @click="activate_modal('p2')">
                                </div>
                                <div class="col-md-6">
                                    <img src="img/re3.jpg" alt="" class="img-raised" @click="activate_modal('p3')">
                                    <img src="img/re4.jpg" alt="" class="img-raised" @click="activate_modal('p4')">
                                    <img src="img/re5.jpg" alt="" class="img-raised" @click="activate_modal('p5')">
                                </div>
                            </div>
                        </div>
                    </tab-pane>

                    <tab-pane title="Clients">
                        <i slot="label" class="now-ui-icons business_badge" v-on:click="goto('PREVIOUS CLIENTS AND EMPLOYERS')"></i>
                        <div class="col-md-10 ml-auto mr-auto">
                            <div class="row collections">
                                <div class="col-md-3">
                                    <img src="img/co4.png" alt="" v-on:click="gotosite('https://realizebolsas.com.br')" class="fixed_size">
                                </div>
                                <div class="col-md-3">
                                    <img src="img/co2.png" alt="" v-on:click="gotosite('http://www.duratex.com.br/en')" class="fixed_size">
                                </div>
                                <div class="col-md-3">
                                    <img src="img/co3.png" alt="" v-on:click="gotosite('https://www.deca.com.br')" class="fixed_size">
                                </div>
                                <div class="col-md-3">
                                    <img src="img/co1.png" alt="" v-on:click="gotosite('https://corporate.exxonmobil.com/en/company/worldwide-operations/locations/brazil')" class="fixed_size">
                                </div>
                            </div>
                        </div>
                    </tab-pane>

                </tabs>
            </div>

            <div id="images">
                <h4 class="title text-center">My Qualifications</h4>
                <div class="row content_center">
                    <div class="col-sm-2 top_bottom_style">
                        <p class="text-primary text-center"><b>Computer Science Bachelor - UTFPR</b></p>
                        <img v-lazy="'img/c1.jpg'" alt="Rounded Image" class="rounded">
                    </div>
                    <div class="col-sm-2 top_bottom_style">
                        <p class="text-primary text-center"><b>IELTS B2 - British Council </b></p>
                        <img v-lazy="'img/c2.jpg'" alt="Rounded Image" class="rounded">
                    </div>
                    <div class="col-sm-2 top_bottom_style">
                        <p class="text-primary text-center"><b>SQL Server Certified</b></p>
                        <img v-lazy="'img/c3.jpg'" alt="Rounded Image" class="rounded">
                    </div>
                    <div class="col-sm-2 top_bottom_style">
                        <p class="text-primary text-center"><b>Visual Studio Certified</b></p>
                        <img v-lazy="'img/c4.jpg'" alt="Rounded Image" class="rounded">
                    </div>
                    <div class="col-sm-2 top_bottom_style">
                        <p class="text-primary text-center"><b>Product Owner - Scrum Alliance</b></p>
                        <img v-lazy="'img/c5.jpg'" alt="Rounded Image" class="rounded">
                    </div>
                    <div class="col-sm-2 top_bottom_style">
                        <p class="text-primary text-center"><b>UX Design - AGI Boston</b></p>
                        <img v-lazy="'img/c6.jpg'" alt="Rounded Image" class="rounded">
                    </div>
                </div>
            </div>
            <div id="images">
                <h4 class="title text-center">Music Projects</h4>
                <div class="row content_center">
                    <div class="col-sm-2 top_bottom_style">
                        <p class="text-primary text-center"><b>Tic Tac Joe</b></p>
                        <img v-lazy="'img/hb1.jpg'" alt="Rounded Image" v-on:click="gotosite('https://open.spotify.com/artist/0nElFt6j5dbshLWwx2hKVS')" class="rounded">
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="section section-contact-us text-center less_padding">
        <div class="container border_top_orange background_gray">
            <h2 class="title">Want to talk to me?</h2>
            <p class="description">Let's work together!</p>
            <div class="row">
                <div class="col-lg-6 text-center ml-auto mr-auto col-md-8">
                    <fg-input
                            class="input-lg"
                            placeholder="First Name..."
                            v-model="form.firstName"
                            addon-left-icon="now-ui-icons users_circle-08">
                    </fg-input>
                    <fg-input
                            class="input-lg"
                            placeholder="Email Here..."
                            v-model="form.email"
                            addon-left-icon="now-ui-icons ui-1_email-85">
                    </fg-input>
                    <div class="textarea-container">
                        <textarea class="form-control"
                                  name="name" rows="4" cols="80"
                                  v-model="form.message"
                                  placeholder="Type a message..."></textarea>
                    </div>
                    <div class="send-button" v-on:click="sendEmail()">
                        <n-button type="primary" round block size="lg">Send Message</n-button>
                    </div>
                    <h1></h1>
                </div>
            </div>
        </div>
    </div>

  </div>
</template>

<script>
//import { MLBuilder } from 'vue-multilanguage'
import { Button, Modal, FormGroupInput } from '@/components';
import { Tabs, TabPane } from '@/components';

export default {
  components: {
    [Button.name]: Button,
    [FormGroupInput.name]: FormGroupInput,
    Tabs,
    Modal,
    TabPane
  },
  data() {
    return {
      modals: {
        d1: false,
        d2: false,
        d3: false,
        d4: false,
        p1: false,
        p2: false,
        p3: false,
        p4: false,
        p5: false
      },
      name_desc: 'USER EXPERIENCE AND DESIGN',
      form: {
        firstName: '',
        email: '',
        message: ''
      }
    };
  },
  methods: {
    sendEmail() {
      Email.send({
          Host : "email-smtp.us-east-1.amazonaws.com",
          Username : "AKIAJ27ZZDZSJEJAXDBQ",
          Password : "BLGoTUp3KksdVrww3jAey0v+iA81SikHdKsKuKMipQMG",
          To : 'cnamikata@gmail.com',
          From : "cnamikata@gmail.com",
          Subject : "NamikataCo Customer!",
          Body : this.form.firstName + ' - ' + this.form.email + ' : ' + this.form.message
      }).then(
          alert('Email Sent!')
      );
    },
    goto: function(message) {
      this.name_desc = message;
    },
    activate_modal: function(param) {
      if (param === 'd1') this.modals.d1 = true;
      else if (param === 'd2') this.modals.d2 = true;
      else if (param === 'd3') this.modals.d3 = true;
      else if (param === 'd4') this.modals.d4 = true;
      else if (param === 'p1') this.modals.p1 = true;
      else if (param === 'p2') this.modals.p2 = true;
      else if (param === 'p3') this.modals.p3 = true;
      else if (param === 'p4') this.modals.p4 = true;
      else if (param === 'p5') this.modals.p5 = true;
    },
    gotosite: function(producturl) {
      console.log(producturl);
      window.open(producturl, '_blank');
    }
  },
  name: 'profile',
  bodyClass: 'profile-page'
};
</script>

<style>
.modal-buttons,
.popover-buttons,
.tooltip-buttons {
  .btn + .btn {
    margin-left: 3px;
  }
}
.dark_gray {
  background-color: #474747 !important;
}
.top_bottom_style {
  padding-bottom: 15px;
  border-top-style: solid;
  border-top-color: #fafafa;
  border-top-width: 2px;
}
.border_top_orange {
  border-top-style: solid;
  border-top-color: #f96332;
  border-top-width: 2px;
}
.border_bottom_orange {
  border-bottom-style: solid;
  border-bottom-color: #f96332;
  border-bottom-width: 2px;
}
.background_gray {
  background-color: #fafafa;
}
.content_center {
  justify-content: center;
}
.less_padding {
  padding: 10px 0 !important;
}
</style>
