<template>
    <navbar position="fixed"
            type="primary"
            :transparent="transparent"
            :color-on-scroll="colorOnScroll"
            menu-classes="ml-auto">
        <template slot-scope="{toggle, isToggled}">
            <router-link v-popover:popover1 class="navbar-brand" to="/">
                Namikata.co
            </router-link>
        </template>
        <template slot="navbar-menu">
            <li class="nav-item" v-on:click="closeNav()">
                <a class="nav-link" v-scroll-to="'#element'">
                    <i class="now-ui-icons ui-1_email-85"></i>
                    <p v-text="$ml.with('VueJS').get('ttme')"></p>
                </a>
            </li>
            <drop-down tag="li" title="LANG" icon="now-ui-icons business_globe" class="nav-item">
                <a target="_blank" class="dropdown-item" @click="$ml.change('english')">
                    <i class="now-ui-icons location_world"></i> ENG
                </a>
                <!--<a target="_blank" class="dropdown-item" @click="$ml.change('portuguese')">
                    <i class="now-ui-icons location_world"></i> PT-BR
                </a>
                <a target="_blank" class="dropdown-item" @click="$ml.change('français')">
                    <i class="now-ui-icons location_world"></i> FRA
                </a>-->
            </drop-down>
            <li class="nav-item">
                <a class="nav-link" rel="tooltip" title="Follow me on Linkedin" data-placement="bottom" href="https://linkedin.com/in/cnamikata/" target="_blank">
                    <i class="fab fa-linkedin"></i>
                    <p class="d-lg-none d-xl-none">Linkedin</p>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" rel="tooltip" title="Like me on Facebook" data-placement="bottom" href="https://www.facebook.com/claudioakio.namikata" target="_blank">
                    <i class="fab fa-facebook-square"></i>
                    <p class="d-lg-none d-xl-none">Facebook</p>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" rel="tooltip" title="Bitbucket" data-placement="bottom" href="https://bitbucket.org/cnamikata/" target="_blank">
                    <i class="fab fa-github"></i>
                    <p class="d-lg-none d-xl-none">Bitbucket</p>
                </a>
            </li>
        </template>
    </navbar>
</template>

<script>
//import { MLBuilder } from 'vue-multilanguage'
import { DropDown, NavbarToggleButton, Navbar, NavLink } from '@/components';
import { Popover } from 'element-ui';
export default {
  name: 'main-navbar',
  props: {
    transparent: Boolean,
    colorOnScroll: Number
  },
  methods:{
    closeNav: function(){
      Navbar.methods.setNav(false);
    }
  },
  components: {
    DropDown,
    Navbar,
    NavbarToggleButton,
    NavLink,
    [Popover.name]: Popover
  }
};
</script>

<style scoped>
</style>
