<template>
    <footer class="footer"
            id="element"
            :class="{[`footer-${type}`]: type}"
            :data-background-color="backgroundColor">
        <div class="container">
            <nav>
                <ul>
                    <li>
                        <a href="https://namikata.co">
                            Namikata
                        </a>
                    </li>
                    <li>
                        <a>
                            +55 11 98448-6340
                        </a>
                        <a>
                            cnamikata@gmail.com
                        </a>
                    </li>
                    <li>
                        <a href="https://medium.com/@cnamikata">
                            Blog
                        </a>
                    </li>
                </ul>
            </nav>
            <div class="copyright">
                &copy; {{year}} Namikata.co
            </div>
        </div>
    </footer>
</template>
<script>
export default {
  props: {
    backgroundColor: String,
    type: String
  },
  data() {
    return {
      year: new Date().getFullYear()
    };
  }
};
</script>
<style>
</style>
